^XA
^FX Template Metadata
^FX name: 60x30mm Label
^FX description: 
^FX size: 2.4x1.2
^FX size_unit: inches
^FX size_width: 2.4
^FX size_height: 1.2
^FX modified: 2025-11-25T02:51:10.299185Z

^PW480
^LL240
^CI28

^FO0,80
^FB480,1,0,C,0
^A0,40,40
^FD{{ content }}^FS

^XZ