^XA
^FX Template Metadata
^FX name: FN SKU Amazon
^FX description: Amazon compatible FN Skus
^FX size: 2.0x0.6
^FX size_unit: inches
^FX size_width: 2.0
^FX size_height: 0.6
^FX modified: 2025-11-24T15:43:30.368364Z



{% set is_fragile = is_fragile | default(false) %}
{% set requires_signature = requires_signature | default(false) %}
{% set quantity = quantity | default(0) %}
{% set address2 = address2 | default("") %}

^FO50,20^A0N,20,20^FDHello World^FS

{% if is_fragile and requires_signature %}
^FO50,70^FDFRAGILE - SIGNATURE REQUIRED^FS
{% endif %}

{% if quantity >= 100 %}
^FO50,50^FDBULK ORDER^FS
{% endif %}

{% if address2 %}
^FO50,230^FD{{ address2 }}^FS
{% endif %}

^XZ