^XA
^FX Template Metadata
^FX name: FN Sku Amazon
^FX description: Amazon compatible FN Skus
^FX size: 2.0x0.6
^FX size_unit: inches
^FX size_width: 2.0
^FX size_height: 0.6
^FX variables: 
^FX created: 

^FO50,50^A0N,50,50^FDHello World^FS
^XZ