^XA
^FX Template Metadata
^FX name: Shelf_Location.zpl.j2
^FX description: Chinatown Shelf Location
^FX size: 2.3x1.2
^FX size_unit: inches
^FX size_width: 2.3
^FX size_height: 1.2
^FX modified: 2025-11-24T10:40:24.089796Z

^PW472
^LL236

^FO20,20
^BY4,2,80
^BCN,80,N,N,N
^FD{{barcode}}^FS

^FO0,170
^FB472,1,0,C,0
^A0N,40,40
^FD{{location}}^FS

^XZ