^XA
^FX Template Metadata
^FX name: Walmart WFS SKU Labels
^FX description: 
^FX size: 2.4x1.2
^FX size_unit: inches
^FX size_width: 2.4
^FX size_height: 1.2
^FX variables: 
^FX created: 

^FO50,50^A0N,50,50^FDHello World^FS
^XZ